
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Produtos - Padaria Estrela</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <header>
        <a class="logo">Padaria Estrela</a>

        <nav class="menu">
            <a href="../index.html">Home</a>
            <a href="produtos.html">Produto</a>
            <a href="pedidos.html">Pedidos</a>
        </nav>
    </header>


    <main>

        <section class="titulo">
            <h2>Nossos Produtos</h2>

            <p>
                Confira nossas delícias feitas com carinho!
            </p>
        </section>


        <section class="produtos">

            <div class="card">
                <img src="static/img/cafe.png" alt="Café">

                <h3>Café</h3>

                <p>Café quentinho e saboroso.</p>

                <span>R$ 5,00</span>

                <button>Comprar</button>
            </div>


            <div class="card">
                <img src="static/img/bolo.png" alt="Bolo">

                <h3>Bolo</h3>

                <p>Bolo fresquinho todos os dias.</p>

                <span>R$ 18,00</span>

                <button>Comprar</button>
            </div>


            <div class="card">
                <img src="static/img/torta.png" alt="Torta">

                <h3>Torta</h3>

                <p>Tortas doces e salgadas.</p>

                <span>R$ 22,00</span>

                <button>Comprar</button>
            </div>

        </section>

    </main>


    <footer>
        <h3>Padaria Estrela</h3>

        <p>Qualidade e sabor todos os dias!</p>

        <p>📍 Rua da Padaria, 100</p>

        <p>📞 (11) 99999-9999</p>

        <p>© 2026 Padaria Estrela</p>
    </footer>

</body>

</html>